.btn {
  margin-right: 30px;
  padding: 0;

  font: inherit;
  font-weight: 700;
  font-size: 13px;
  color: $sup-text;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $sup-text;
  cursor: pointer;
}

.fa-paperclip,
.fa-file-alt,
.fa-file {
  margin-right: 9px;

  font-size: 14px;
}
