.btn {
  margin-right: 30px;
  padding: 0;

  font: inherit;
  font-weight: 700;
  font-size: 12px;
  color: $dark-gray;
  text-transform: uppercase;
  letter-spacing: 0.045em;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $dark-gray;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $black;

    outline: none;
  }

  &:active {
    color: $red;
  }
}

.fa-paperclip,
.fa-file-alt,
.fa-file {
  margin-right: 7px;

  font-size: 14px;
}
