.chat {
  display: flex;

  border-radius: 5px;
}

.chat__products {
  position: relative;

  flex-basis: 24%;

  background-color: $main-bg;
}

.chat__header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  margin: 0;

  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  border-bottom: 2px solid $white;
}

.chat__close-btn {
  position: absolute;
  top: 19px;
  right: 23px;

  width: 14px;
  height: 14px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -2px;

    width: 18px;
    height: 2px;

    background-color: $dark-gray;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.chat__nav {
  margin-top: 11px;
  margin-left: 13px;
}

.chat__nav-title {
  margin: 0 0 8px 12px;

  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.chat__messages-wrapper {
  flex-basis: 76%;
}

.chat__form {
  padding-bottom: 20px;
}
