.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 15px;
}

.form__btn-wrapper {
  display: flex;
  align-items: center;
}

.form__file-input {
  position: absolute;
  z-index: -10;

  width: 0.1px;
  height: 0.1px;

  opacity: 0;

  &:hover ~ .form__file-btn,
  &:focus ~ .form__file-btn {
    color: $black;
  }

  &:active ~ .form__file-btn {
    color: $red;
  }
}

.form__submit-btn {
  min-width: 104px;
  margin-left: auto;
  padding: 7px 5px 8px 12px;

  font: inherit;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  color: $sup-text;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: $white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;

    background-color: $dark-gray;

    & .form__submit-btn-arrow {
      color: $white;
    }
  }

  &:active {
    background-color: $sup-text;
  }
}

.form__submit-btn-arrow {
  margin-left: 8px;

  color: $dark-gray;
}

@media (max-width: $tablet-width) {
  .form__btn-wrapper {
    position: relative;

    flex-wrap: wrap;
    margin-right: 150px;
  }

  .form__submit-btn {
    position: absolute;
    right: -150px;
    bottom: 0;
  }
}

@media (max-width: $mobile-width) and (min-width: 320px) {
  .form__btn-wrapper {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .form__submit-btn {
    position: static;

    width: 100%;
  }
}
