.products-list {
  @include reset-list;

  display: flex;
  flex-direction: column;

  color: $dark-gray;
}

.products-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  padding: 12px 24px 12px 12px;

  background-color: $white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.products-list__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:last-child {
    justify-content: normal;
  }
}

.products-list__number {
  flex-grow: 1;
  margin-right: 5px;

  font-weight: 700;
}

.products-list__time {
  font-weight: 700;
}

.products-list__name {
  flex-grow: 1;
  min-width: 92px; //чтобы стрелка была всегда на одной строке с названием
  margin-right: 5px;

  font-weight: 700;
  text-align: center;
  color: $black;
  &:hover,
  &:focus {
    color: $dark-gray;
  }

  &:active {
    text-decoration: underline;
  }
}

.fa-arrow-right {
  margin-right: 7px;

  font-size: 10px;
  color: $icons-color;
}

.products-list__link {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 6px;
  }

  &:hover .product-list__icon,
  &:focus .product-list__icon {
    color: $dark-gray;
  }

  &:active .product-list__icon {
    color: $black;
  }
}

.product-list__icon {
  margin-right: 4px;

  font-size: 16px;
  color: $icons-color;
}

.products-list__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;

  font-weight: 700;
  font-size: 10px;
  color: $dark-gray;

  background-color: $message-bg-dark;
  border-radius: 50%;

  &--error {
    color: $white;

    background-color: $red;
  }
}

@media (max-width: $tablet-width) {
  .products-list__item {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .products-list__row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .products-list__name {
    margin-bottom: 5px;

    text-align: left;
  }

  .fa-arrow-right {
    display: none;
  }
}
