*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  //min-width: 320px;
  margin: 0 auto;
  padding: 30px;

  font-weight: normal;
  font-size: 12px;
  font-family: $font;
}
