*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  min-width: $mobile-width;
  max-width: $desktop-width;
  margin: 0 auto;

  font-weight: normal;
  font-size: 12px;
  font-family: $font;
}
